:root{
	background-color:black;
}

body {
	font-family: sans-serif;
	margin:0em;
	display:none;

}

.wrapper {
	overflow:hidden;
	position:relative;
	
	/* 
	background-image:url('http://pixabay.com/static/uploads/photo/2014/10/05/10/55/milky-way-474931_640.jpg');
	*/
	background-image:url('http://upload.wikimedia.org/wikipedia/commons/e/e9/Sombrero_Galaxy_in_infrared_light_%28Hubble_Space_Telescope_and_Spitzer_Space_Telescope%29.jpg');
	background-size: cover;
}

.menu .header {
	padding: 1em;
	position:relative;
	color: white;
	
	margin-top:25%;
	
	text-align: center;
	font-size: 1.5em;
	font-weight:bold;
	letter-spacing: .25em;
	border-radius:100%;
	
}

.menu .header:before {
	content:"";
	
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
		background-image:
    radial-gradient(
			ellipse farthest-side,
      black 50%, green, blue 75%, transparent, green, transparent
    );
 	
	opacity:.5;
}

.menu {
	display:inline-block;
	text-align: center;
	position:absolute;
	height:0em;
	
	background-image: linear-gradient(to bottom, 
		transparent, rgba(162,120,120,.4) 7.5% 
		,transparent 45%
	);
	
	position:absolute;
	left:3em;
	top:0em;
	bottom:0em;
	
	border-style:solid;
	border-width:1em;
	
	border-image: 
		linear-gradient(to bottom, black, transparent 70%);
	border-image-slice:33%;
	border-bottom:none;
	border-top:none;
}

.menu .menu-item {
	padding:1em;
	font-weight: bold;
	position:relative;
}

.menu-item {
	transition: .5s ease-out;
	cursor:pointer;
}

.menu-item:hover {
	color:rgb(255,255,255,1);
	box-shadow: inset 0 0 1em 1em rgba(0,125,0,.35);
}

.content-target {
	transition:1s linear;
	position:absolute;
	top:5em;
	left:25em;
	bottom:5em;
	right:5em;
	
	min-width:30em;
	
	padding:2em;
	
	background-color:rgba(255, 255, 255, 0.15);
	background-image:
		linear-gradient(
				green,
				transparent 5%
			, transparent 95%
			,	black
		)
	;
	border-radius:2em;
	
	overflow-y:auto;
}

.nav-section {
  display:none;
}

.nav-section.active {
	display:block;
}

.post {
	position:relative;
	border: thick solid rgba(50,120,25,.3);
	
	background-color:rgba(0,0,0,.75);
	border-radius:1em;
	padding:1em;
	margin-bottom:2em;
	overflow:hidden;
	color:rgba(175,225,0,.5);
}

.post .header {
	position:relative;
	font-weight:bold;
	letter-spacing:.2em;
	margin:-1em;
	padding:1em;
}

.post .header:hover {
	transition:.25s ease;
	box-shadow: inset 1em 1em 10em 5em rgba(80,22,145,.4);
}

.post .header .timestamp {
	position:absolute;
	right:1em;
	top:1em;
}

.post-content {
	display: none;
	padding-top:1em;
}